body{
    font-family: 'Poppins', sans-serif;
}

#error1{
    display: none;
}

#error2{
    display: none;    
}

/* .btn-color{
    background-color: #0CECDD;
    color: #FFF338;
    border: #0CECDD;
} */